* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: monospace;
    background: linear-gradient(#06295d,#75d5a9);
    border: solid 10px #0cd977;
}

.box {
    height: 100%;
    overflow: auto;
}

/* TYPHOGRAPHY */

a {
    text-decoration: none;
}

h2 {
    position: absolute;
    bottom: 25px;
    left: 10px;
    font-size: 98px;
    line-height: 5px;
    height: 40px;
    color: #06295d;
    background: #0cd977;
}

h3 {
    padding: 8px 5px 0;
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 38px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: right;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    color: #06295d;
    background: #0cd977;
}

h3 span {
    font-size: 33px;
}

/* LISTA STUDENTI */
.registro {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.studenti {
    width: 600px;
    height: auto;
}

.studente {
    list-style: none;
    font-size: 28px;
    border-bottom: 1px solid #06295d;
}

.studente:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

.studente:last-child {
    border-bottom: none;
}
.studente .nome,
.studente .cognome,
.studente .eta {
    color: #06295d;
    display: inline-block;
    width: 30%;
}
.studente .nome {
    padding: 2px 20px;
}
.studente .cognome {
    padding-left: 20px;
}

.studente .eta {
    text-align: right;
}